@using SIGERSIV.Models
@using System.Net.Sockets;
@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
}

@{

    @Model List<SIGERSIV.Models.ReporteVista> reportes = new List<SIGERSIV.Models.ReporteVista>();

    if (ViewBag.reporteVista != null)
    {
        reportes = ViewBag.reporteVista;
    }
    Personal p = ViewBag.empleado;
    String nombre = ViewBag.username;
    int idPersonal = ViewBag.idPersonal;
    List<string> mensajes = new List<string>();
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/dash.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">SIGERSIV</a>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Login" onclick="/Home/Login">Cerrar sesión</a>
                    <form action="/Home/Chat" method="post">
                        <input name="idPersonal" value="@idPersonal" type="hidden" />
                        <input name="mensaje" value="Hola" type="hidden" />
                        <input name="nombreUsuario" value="@p.NombreUsuario" type="hidden" />
                        <input name="mensajes" value="@mensajes" type="hidden" />
                        <button type="submit" class="btn btn-primary">Chat</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"><img width="20" height="20" src="~/images/search.png" /></button>
    </div>
</div>

<ul class="list-group">
    @{
        @Model foreach (SIGERSIV.Models.ReporteVista reporte in reportes)
        {
            <li class="list-group-item">
                <img src="~/images/carrousel1.jpg" width="90" height="90" />
                <label class="col-md-3">@reporte.Lugar</label>
                <label class="col-md-3">@reporte.Cliente</label>
                <label class="col-md-2">@reporte.EstatusReporte</label>
                <form method="post" action="/Home/Detalles">
                    <input type="hidden" name="idReporte" id="idReporte" value="@reporte.idReporte" />
                    <input type="hidden" name="idPersonal" id="idPersonal" value="@idPersonal" />
                    <button class="btn btn-outline-primary col-md-2" type="submit">Ver detalles</button>
                    <!--<a class="col-md-2 nav-link" onclick="/Home/Detalles" href="/Home/Detalles">Ver Detalles</a>-->
                </form>
            </li>
        }
    }
</ul>

<script>
    function mostrarDetalles() {
        $("#dialogoDetalles").modal("show");
    }

    function mostrarDeterminar() {
        $("#dialogoDeterminar").modal("show");
    }
</script>
