@using SIGERSIV.Models
@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
}

@{

    @Model List<SIGERSIV.Models.ReporteVista> reportes = new List<SIGERSIV.Models.ReporteVista>();
    @Model Personal per = new Personal();
    @Model Reporte reporteSeleccionado = new Reporte();
    @Model Vehiculo vehiculoReporte = new Vehiculo();
    @Model VehiculoAgeno vehiculoAgenoReporte = new VehiculoAgeno();
    @Model Cliente clienteReporte = new Cliente();

    if(ViewBag.reporteVista != null)
    {
        reportes = ViewBag.reporteVista;
    }
    per = ViewBag.empleado;
    if(ViewBag.reporte != null)
    {
        reporteSeleccionado = ViewBag.reporte;
    }
    if(ViewBag.vehiculoCliente != null)
    {
        vehiculoReporte = ViewBag.vehiculoCliente;
    }
    if(ViewBag.vehiculoAgeno != null)
    {
        vehiculoAgenoReporte = ViewBag.vehiculoAgeno;
    }
    if(ViewBag.cliente != null)
    {
        clienteReporte = ViewBag.cliente;
    }
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/dash.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">SIGERSIV</a>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" onclick="/Home/CerrarSesion">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"><img width="20" height="20" src="~/images/search.png" /></button>
    </div>
</div>

<ul class="list-group">
    @{
        @Model foreach (SIGERSIV.Models.ReporteVista reporte in reportes)
        {
            <li class="list-group-item">
                <img src="~/images/carrousel1.jpg" width="90" height="90" />
                <label class="col-md-3">@reporte.Lugar</label>
                <label class="col-md-3">@reporte.Cliente</label>
                <label class="col-md-2">@reporte.EstatusReporte</label>
                <button class="btn btn-outline-primary col-md-2" onclick="mostrarDetalles()">Ver detalles</button>
            </li>
        }
    }
</ul>

<div class="modal fade" tabindex="-1" role="dialog" id="dialogoDetalles">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img src="~/images/carrousel1.jpg" style="width: 100%; height: 200px; padding-bottom: 10px;" />
                <table class="table" style="padding-top: 10px;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Lugar</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Estatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@reportes[0].Lugar</th>
                            <td>@reportes[0].Cliente</td>
                            <td>@reportes[0].EstatusReporte</td>
                        </tr>
                    </tbody>
                </table>
                <h3 style="padding-top: 10px;">Vehículo del cliente</h3>
                <table class="table" style="padding-top: 10px;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Año</th>
                            <th scope="col">Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@vehiculoReporte.Marca</th>
                            <td>@vehiculoReporte.Modelo</td>
                            <td>@vehiculoReporte.Anio</td>
                            <td>@vehiculoReporte.Color</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Aseguradora</th>
                            <th scope="col">Póliza</th>
                            <th scope="col">Placas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@vehiculoReporte.NombreAseguradora</th>
                            <td>@vehiculoReporte.NumeroPoliza</td>
                            <td>@vehiculoReporte.NumeroPlacas</td>
                        </tr>
                    </tbody>
                </table>
                <h3 style="padding-top: 10px;">Vehículo del implicado</h3>
                <table class="table" style="padding-top: 10px;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Año</th>
                            <th scope="col">Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@vehiculoAgenoReporte.Marca</th>
                            <td>@vehiculoAgenoReporte.Modelo</td>
                            <td>@vehiculoAgenoReporte.Anio</td>
                            <td>@vehiculoAgenoReporte.Color</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Aseguradora</th>
                            <th scope="col">Póliza</th>
                            <th scope="col">Placas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@vehiculoAgenoReporte.NombreAseguradora</th>
                            <td>@vehiculoAgenoReporte.NumeroPoliza</td>
                            <td>@vehiculoAgenoReporte.NumeroPlacas</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-outline-primary" onclick="mostrarDeterminar()" data-dismiss="modal">Determinar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="dialogoDeterminar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Determinar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>A favor de: </p>
                <form action="/Home/Dictaminar">
                    <div class="form-check">
                        <input type="radio" name="opcionDeterminar" class="form-check-input" id="exampleCheck1" value="usuario">
                        <label class="form-check-label" for="exampleCheck1">Usuario</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="opcionDeterminar" class="form-check-input" id="exampleCheck2" value="incolucrado">
                        <label class="form-check-label" for="exampleCheck1">Involucrado</label>
                    </div>
                    <div class="form-group" style="padding-top: 10px;">
                        <label for="justificacion">Justificación</label>
                        <textarea class="form-control" id="justificacion"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Determinar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function mostrarDetalles() {
        $("#dialogoDetalles").modal("show");
    }

    function mostrarDeterminar() {
        $("#dialogoDeterminar").modal("show");
    }
</script>
